.slide h3 {
  margin-bottom: 0;
}

.slide p {
  margin-left: 0;
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}

.faded {
  opacity: .2;
  filter: contrast(1.1);
}

#purpose {
  padding-top: 180px;
}
#identity-role {
  padding-top: 270px;
}
